*{
    padding: 0%;
    margin: 0;
}

.header{
    text-align: center;
    padding: 3em 0 1em 0 ;
    color: black;
}

.header h1{
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 0%;
}

.header h1 span{
    font-size: 1.3em;
    
}

.header h2{
    font-size: 1em;
    font-weight: 300;
    margin:0;
}

/* start to nav menu lang */ 

.nav_container{
    width: 100%;
    height: 360px;
    
    display: grid;
    grid-template-columns: 10px repeat(7, 75px) 10px;
    grid-template-rows: repeat(5, 65px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 3px    ;
  
    
}

.nav_article a {
  
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    justify-items: end;
  
}

.nav_article a strong{
    color: #36c;   
}

.nav_article a p{
    color:gray;    
    font-size: 12px;
}

.nav_article:nth-of-type(1){
    grid-column: 3 / span 2;
}

.nav_article:nth-of-type(2){
    grid-column: 6 / span 2;
}

.nav_article:nth-of-type(3){
    grid-column: 2 / span 2;
}

.nav_article:nth-of-type(4){
    grid-column: 7 / span 2;
}

.nav_article:nth-of-type(5){
    grid-column: 1 / span 3;
}

.nav_article:nth-of-type(6){
    grid-column: 7 /span 3;
}

.nav_article:nth-of-type(7){
    grid-column: 2 /span 2;
}

.nav_article:nth-of-type(8){
    grid-column: 7 / span 2;
}

.nav_article:nth-of-type(9){
    grid-column: 3 / span 2;
}

.nav_article:nth-of-type(10){
    grid-column: 6 / span 2;
}

.logo_figure{
    grid-area: 2 / 4 / 5 / 7;
}


.logo_figure img{
    width: 100%;
    height: 100%;
   object-fit: contain;
   margin:0%;

}

/* imput de navegacion */
.content_search{
    max-width: 500px;
    width: 100%;
    margin: 0 auto ;
}

.bar{
    width: 500px;
    height: 43px;
    display: flex;
    align-content: flex-end;
    justify-content: end;
    border: solid 1px gray;
    border-radius: 2px;
}

.input_search{
width: 390px;
height:100%;
border: 0;
outline: none;

}

.lang{
    border: 0ch;
    color: rgb(105, 105, 105);
}

.buttom_search_bg{
    
    height: 100%;
    width: 60px;
    background-color: #36c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    
}
.buttom_search_ico{
background-image: url('https://cdn-icons-png.flaticon.com/512/25/25313.png');
background-size: contain;
background-repeat: no-repeat;
filter: invert(100%);
width: 22px;
height: 20px;
display: inline-block;
}

/*selector de idiomas */

.wiki_your_lang{
    width: 200px;
    height: 20px;
    display: flex;
}
hr{
    width: 100px;
    height: 1px;
    display: inline-block;
justify-content   : center;
}

.text_lang
{
    display: inline-block;
}